@import './styles/normalize.scss';
@import './styles/reset.scss';
@import './styles/constants.scss';

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('./assets/fonts/#{$file_name}.woff2') format('woff2'),
      url('./assets/fonts/#{$file_name}.ttf') format('truetype');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './styles/fonts.scss';

:root {
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html {
    --primaryBackgroundColor: linear-gradient(
      180deg,
      rgba(124, 60, 155, 1) 0%,
      rgba(36, 93, 159, 1) 20%,
      rgba(0, 0, 0, 0.8) 45%,
      rgba(15, 23, 42, 1) 75%
    );
  }
}

html {
  --primaryBackgroundColor: linear-gradient(
    180deg,
    rgba(254, 121, 185, 0.5) 0%,
    rgba(173, 0, 255, 0.5) 25%,
    rgba(36, 137, 255, 0.5) 35%,
    rgba(255, 255, 255, 1) 50%
  );

  background-repeat: no-repeat;

  &.dark {
    --primaryBackgroundColor: linear-gradient(
      180deg,
      rgba(124, 60, 155, 1) 0%,
      rgba(36, 93, 159, 1) 20%,
      rgba(0, 0, 0, 0.8) 45%,
      rgba(15, 23, 42, 1) 75%
    );
  }
}

body {
  width: max(100%, 320px);
  height: 100%;
  box-sizing: border-box;
  @include open-sans;
  font-size: $fs-s;
  font-weight: $fw-regular;
  line-height: 20px;
  color: $primary-text;
  background: var(--primaryBackgroundColor);
  background-repeat: no-repeat;
  padding: 0 3%;
  padding-bottom: 40px;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: inherit;
}
