@import '@/styles/typography';

.projects {
  padding-top: 5%;

  &__title {
    @include main-title;
    text-align: center;
    margin-bottom: 3%;
    line-height: 60px;

    @media screen and (max-width: 1169px) {
      text-align: left;
    }
  }
}
