@import './constants.scss';

@mixin main-title {
  @include lato;
  font-size: $fs-xxl;
  font-weight: $fw-bold;
  line-height: 40px;
  color: $primary-text;
  margin: 0;

  @include whenDark {
    color: $dark-text-primary;
  }
}

@mixin subtitle {
  font-size: $fs-m;
  line-height: 30px;
  color: $secondory-text;
  margin: 0;

  @include whenDark {
    color: $dark-text-secondery;
  }
}

@mixin label {
  color: $secondory-text;
  font-size: $fs-xs;
  background-color: $label-background;
  border-radius: 3px;
  padding: 1px 3px;
  box-shadow: 3px 3px 10px $box-shadow;

  @include whenDark {
    background-color: $dark-label-background;
    color: $dark-text-primary;
  }
}

@mixin section-title {
  @include main-title;
  font-size: $fs-l;
  line-height: 30px;
}

@mixin text {
  @include whenDark {
    color: $dark-text-secondery;
  }
}

@mixin contact {
  display: flex;
  font-size: $fs-xs;
  color: $primary-text;
  align-items: center;

  background-color: transpareont;
  border-radius: 15px;
  padding: 3px 7px;

  @include whenDark {
    color: $dark-text-primary;
  }
}
