@import '@/styles/constants.scss';
@import '@/styles/typography';

.vertical-timeline.vertical-timeline--animate.vertical-timeline--two-columns {
  &::before {
    @include whenDark {
      background-color: $dark-text-secondery;
    }
  }
}

.project {
  .vertical-timeline-element-content {
    background-color: $primary;
    color: $primary-text;
    box-shadow: 0 0 5px $box-shadow;

    @include whenDark {
      background-color: $dark-label-background;
    }

    .vertical-timeline-element-content-arrow {
      border-right: 7px solid $label-background;

      @include whenDark {
        border-right-color: $dark-label-background;
      }
    }
  }

  &__name.vertical-timeline-element-date {
    color: $primary-text;
    font-size: $fs-m;

    @include whenDark {
      color: $dark-text-primary;
    }

    @media screen and (max-width: $breakpoint-md-min) {
      font-size: $fs-s;
    }
  }

  &__icon {
    box-shadow: 0 0 0 4px $label-background, inset 0 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 0 4px rgba(0, 0, 0, 0.05);

    @include whenDark {
      box-shadow: 0 0 0 4px $dark-text-primary, inset 0 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 0 4px rgba(0, 0, 0, 0.05);
    }
  }

  .vertical-timeline-element-content &__setup {
    @include lato;
    @include text;
    font-size: $fs-s;
    color: $primary-text;
    margin: 0;
    margin-bottom: 5px;

    @media screen and (max-width: $breakpoint-sm-min) {
      font-size: $fs-xs;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  &__links {
    display: flex;
    justify-content: start;
    gap: 3%;
  }

  &__link {
    border: 1px solid transparent;
    background-color: $label-background;
    border-radius: 10px;
    color: $secondory-text;
    padding: 4px 8px;

    @include whenDark {
      background-color: $secondory-text;
      color: $dark-text-secondery;
    }

    &:hover {
      box-shadow: 0 0 5px $box-shadow;
    }

    @media screen and (max-width: $breakpoint-md-min) {
      font-size: $fs-xs;
    }
  }
}
