@import '@/styles/typography';

.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15%;
  padding-top: 50px;
  margin-bottom: 50px;

  &__content {
    width: 400px;
  }

  &__title {
    @include main-title;
    margin-bottom: 30px;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 5px;
  }

  &__text {
    @include text;
    text-align: left;
    font-size: $fs-m;
    line-height: 30px;
  }
}

.avatar {
  max-width: 450px;
  height: 470px;

  &__img {
    width: 100%;
    height: 100%;
  }
}
