@import '@/styles/constants.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;

  @media screen and (max-width: $breakpoint-xxs-min) {
    flex-direction: column-reverse;
    gap: 15px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.pdf {
  color: $primary-text;

  @include whenDark {
    color: $dark-text-primary;
  }
}
