@import '@/styles/typography';
@import '@/styles/constants.scss';

.skills {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__subsection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7px;
    padding-left: 4%;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__title {
    @include subtitle;
    font-size: $fs-m;
    line-height: 30px;
    margin-right: 3%;
  }

  &__list {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    @include label;
  }
}

.title {
  @include section-title;
  margin-bottom: 10px;
}
